@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

body {
<<<<<<< HEAD
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
=======
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
>>>>>>> 47f615056d5de2f4368e0ca268ab9e305ed4df2f
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(255, 85, 0, 0.5);
  }

  .box-shadow-magma {
    box-shadow: 0 0 30px -5px rgba(255, 85, 0, 0.3);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

<<<<<<< HEAD
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
=======
::-webkit-scrollbar-thumb:hover {
  background: #e67e00;
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
>>>>>>> 47f615056d5de2f4368e0ca268ab9e305ed4df2f
}